$primary-color: #A37;

#title {
  color: $primary-color;
}

h1 {
	text-align: center;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.0px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

canvas {
  position: absolute;
}

form {
  padding: 20px;
}

svg-container {
  display: block;
  position: relative;
  width: 90%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  z-index: -1
}

.svg-content-responsive {
  display: inline-block;
  top: 10px;
  left: 0;
}

.about-container {
  padding: 20px 0px;
  margin-left: 4%;
  margin-right: 4%;
}

.abouttext {
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
}

.abouttext p {
  text-align: left;
  font-size: 17px;
}

.footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 6%;
  background-color: #333;
  color: #fff;
  margin: 0;
}

.footer a {
  float: right;
  display: flex;
  margin: 0 auto;
  padding: 10px 10px;
  text-decoration: none;
  color: #f2f2f2;
}

.navbar-static-top {
  background-color: #333;
}

.navbar-default .navbar-brand {
  background-color: #333;
  color: #f2f2f2 !important;
  padding-right: 20px;
}

#navbar a {
  color: white;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  background-color: #f2f2f2 !important;
  color: black !important;
}

.navbar-nav > .active > a {
  background-color: #3984ba !important;
}
